body{
    background-color: rgb(90, 83, 83);
}
button {
background-color: yellow;
border: none;
border-radius: 0.5rem;
font-family: inherit;
font-size: 1.5rem;
padding: 0.7rem 1rem;
}
button:hover{
    cursor: pointer;
    background-color: rgb(134, 36, 36);
}